@using Microsoft.AspNetCore.Identity
@using Product_Management.Models.Domain
@inject SignInManager<UserModel> signInManager
@inject UserManager<UserModel> userManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Product_Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Product_Management.styles.css"/>
    <!-- Toaster -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <!-- Toastr CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <style>
        nav{
            background-color: #39b8a5;
            color:black;
        }

        .toast-position {
            top: 8rem !important;
        }
    </style>

</head>
<body>
    <ul class="navbar-nav fontsytle">
        @if (signInManager.IsSignedIn(User) )
        {
            var id = userManager.GetUserId(User);
            
            <nav class="mynav navbar navbar-expand-lg fixed-top">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <ul class="navbar-nav">
                                            <li class="nav-item fontsytle">
                                                <a class="nav-link fs-5 fontsytle" href="/Admin/AdminHome" style="color:white"><b>Admin Dashboard</b></a>
                                            </li>
                                        </ul>
                                    }
                                    else
                                    {
                                        <ul class="navbar-nav">
                                            <li class="nav-item fontsytle" style="font-size:35px;">
                                                <a class="nav-link fontsytle" href="/User/UserHomePage" style="color:white;"><b>Trendy Treasures</b></a>
                                            </li>
                                        </ul>
                                    }
                                </div>

                               
                            </div>
                        </div>

                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="fst-italic fs-5"><b>Hi,</b></span> <span class="fs-5 fw-bold" style="color:white"> @User.Identity!.Name</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item" asp-action="Logout" asp-controller="Auth">
                                            Logout
                                        </a>
                                    </li>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li>
                                            <a class="dropdown-item" asp-action="Index" asp-controller="Profile" asp-route-id="@id">
                                                Profile
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a class="dropdown-item" asp-action="Index" asp-controller="Profile" asp-route-id="@id">
                                                Profile
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>




        }
        else
        {
            <nav class="mynav navbar navbar-expand-lg fixed-top">
                <div class="container-fluid">

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item fontsytle" style="font-size:35px;">
                                <a class="nav-link fontsytle" href="/User/UserHomePage" style="color:white;"><b>Trendy Treasures</b></a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ms-auto d-flex">
                            <li class="nav-item">
                                <a class="nav-link" href="/Auth/Login"  aria-expanded="false">
                                    <span class="fs-5 fw-bold" style="color:white">Login</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Auth/Register"  aria-expanded="false">
                                    <span class="fs-5 fw-bold" style="color:white">Register</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        }

    </ul>

    <div class="container">
        <main role="main" class="pb-3">

            @RenderBody()
        </main>
    </div>

   @*  <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - product_management - <a asp-area="" asp-controller="home" asp-action="privacy">privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script>
        if (performance.navigation.type == 2) {
            location.reload();
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
