﻿
@model IEnumerable<Product_Management.Models.Domain.UserModel>;

@{
    ViewData["Title"] = "Users";
}

<h1>All Users</h1>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone no</th>
                <th>PassWord</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.Id</td>
                    <td>@x.Name</td>
                
                    <td>@x.Email</td>
               
                    <td>@x.PhoneNo</td>
               
                    <td>@x.UserPassword</td>
                    <td>
                        <a class="btn btn-primary" asp-action="UpdateProduct" asp-controller="Authenication" asp-route-id="@x.Id">Edit</a>
                        <a class="btn btn-danger" asp-action="DeleteProduct" asp-controller="Authenication" asp-route-id="@x.Id">Deactive</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="card">
        <div class="card-header">
            No Uses created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a user
            </h5>
            <a class="btn btn-primary" style="width:auto" asp-controller="Auth" asp-action="Register">
                Add new users
            </a>
        </div>
    </div>
}
