﻿
@model IEnumerable<Product_Management.Models.Domain.UserModel>;

@{
    ViewData["Title"] = "Users";
}

<a class="btn btn-primary ml-auto" asp-action="Register" asp-controller="Auth" style="margin-top: 10%; padding: 8px 20px; border-radius: 5px; font-weight: bold; background-color: #4CAF50; color: #fff; text-decoration: none; text-align: center; display: inline-block;">Add User</a>

<h1 style="text-align:center; margin-top:2%;">All Users</h1>

@if (Model.Any())
{

    <div class="container-fluid pt-4 px-4">
        <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">Users</h6>
               
            </div>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-dark">

                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone no</th>
                           @*  <th scope="col">Role</th> *@
                            <th scope="col">Password</th>
                            <th scope="col">CreatedAt</th>
                            <th scope="col">IsActive</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model)
                        {
                            @if(x.Role == "User")
                            {
                                <tr>
                                    <td>@x.Id</td>
                                    <td>@x.Name</td>

                                    <td>@x.Email</td>

                                    <td>@x.PhoneNo</td>
                                   @*  <td>@x.Role</td> *@

                                    <td>@x.UserPassword</td>
                                    <td>@x.CreatedAt</td>
                                    <td>@x.IsActive</td>
                                    <td>
                                        <a class="btn btn-primary" asp-action="UpdateUser" asp-controller="Admin" asp-route-id="@x.Id">Edit</a>
                                        @*  <a class="btn btn-danger" asp-action="DeleteProduct" asp-controller="Authenication" asp-route-id="@x.Id">Deactive</a> *@
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div class="card">
        <div class="card-header">
            No Uses created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a user
            </h5>
            <a class="btn btn-primary" style="width:auto" asp-controller="Auth" asp-action="Register">
                Add new users
            </a>
        </div>
    </div>
}
