﻿
@model Product_Management.Models.Domain.Product

@{
    ViewData["Title"] = "AddProduct";
    var MyCategoryId = TempData["CategoryId"];
    var categoryList = ViewBag.CategoryList as List<Product_Management.Models.Domain.Category>;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <style>
        body {
            overflow-y: hidden;
        }

        .mt-200 {
            margin-top: 200px;
        }

        .form-container {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .form-wrapper {
            width: 80%;
            max-width: 400px; /* Adjust the max-width as needed */
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

            .form-wrapper h2 {
                text-align: center;
                margin-bottom: 20px;
            }
    </style>
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-container">
                    <div class="form-wrapper">
                        <form id="AddProductForm" asp-action="AddProduct" method="post" enctype="multipart/form-data" asp-controller="Product" class="p-5">
                            <h2>Add Product</h2>
                            <div class="form-group">
                                <input type="hidden" id="SelectedCategory" name="SelectedCategory" />
                                <!-- Category dropdown -->
                                <select class="form-select mb-3" aria-label="Default select example" asp-for="ProductCategoryId" required>
                                    <option disabled selected value="">Select a Category</option>
                                    @if (categoryList != null)
                                    {
                                        foreach (var x in categoryList)
                                        {
                                            @*<option value="@x.CategoryId" selected="@(x.CategoryId == ViewBag.SelectedCategory)">@x.CategoryName</option> *@
                                            @if(Convert.ToInt32(MyCategoryId) == 0)
                                            {
                                                <option value="@x.CategoryId">@x.CategoryName</option>
                                            }

                                            else if (x.CategoryId == Convert.ToInt32(MyCategoryId))
                                            {
                                                <option value="@x.CategoryId" selected>@x.CategoryName</option>
                                            }
                                           
                                            else 
                                            {
                                                <option value="@x.CategoryId">@x.CategoryName</option>
                                            }
                                        }
                                    }
                                </select>
                                <span asp-validation-for="ProductCategoryId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="ProductName" class="form-control" type="text" placeholder="Product Name" required />
                                <span asp-validation-for="ProductName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="ProductDescription" class="form-control" type="text" placeholder="Product Description" required />
                                <span asp-validation-for="ProductDescription" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="ProductPrice" class="form-control" type="number" placeholder="Product Price" required />
                                <span asp-validation-for="ProductPrice" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="ProductImage" class="form-control" type="file" placeholder="Product Image" required />
                                <span asp-validation-for="ProductImage" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Add Product</button>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
    

   

</body>
</html>


